@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    padding-left: 100%;
    /* Start from right */
  }

  /* Pause animation on hover */
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200 overflow-x-hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}